/* You’ve been verified! */

position: absolute;
width: 296px;
height: 36px;
left: 47px;
top: 53px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;

color: #000000;

/* Rectangle 1 */

position: absolute;
width: 252px;
height: 68px;
left: 72px;
top: 643px;

background: #d9d9d9;

/* Name: */
#first-name {
  position: absolute;
  width: 61px;
  height: 24px;
  left: 47px;
  top: 148px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}

/* Age: */

position: absolute;
width: 43px;
height: 24px;
left: 47px;
top: 240px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;

/* Year: */

position: absolute;
width: 48px;
height: 24px;
left: 182px;
top: 242px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;

/* Location: */

position: absolute;
width: 87px;
height: 24px;
left: 47px;
top: 194px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
... (340 lines left);
